<?xml version="1.0" encoding="UTF-8"?>
<!--		http://logback.qos.ch/manual/configuration.html-->
<configuration scan="true">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <property name="logback.log.path" value="logs"/>
    <property name="logback.encoding" value="utf8"/>

    <!--	<contextListener class="LoggerStartupListener"/>-->

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--			<pattern>%d %-5p [%c] %m%n</pattern>-->
            <pattern>%highlight(%-5level) %d{yyyy-MM-dd'T'HH:mm:ss.SSS} %yellow([%thread]) %blue(%logger{36}\(%class{0}.java:%line\)) %msg%n
            </pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
    </appender>

    <appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender-->
        <file>${logback.log.path}/server.log</file>
        <encoder>
            <pattern>%date{MM-dd;HH:mm:ss.SSS} %-5level [%30.30thread][%40.40logger{3}][%X{web.user.login}]:%message%n
            </pattern>
            <charset>${logback.encoding}</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${logback.log.path}/server.log.%i.gz</FileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>100MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- У atomikos под INFO имеется в виду то, что у обычных людей называется DEBUG, если не TRACE -->
    <logger name="org.asynchttpclient.netty" level="WARN"/>

    <logger name="mp" additivity="false" level="INFO">
        <appender-ref ref="console"/>
    </logger>


<!--    <logger name="org.apache.http" additivity="false" level="DEBUG">-->
<!--        <appender-ref ref="console"/>-->
<!--    </logger>-->
<!--    <logger name="com.vk.api" additivity="false" level="DEBUG">-->
<!--        <appender-ref ref="console"/>-->
<!--    </logger>-->
    <root level="INFO">
        <!--		<appender-ref ref="server"/>-->
        <appender-ref ref="console"/>
    </root>

</configuration>